/*
    CREACION 2 MAY 2021
    POR JUAN CARLOS SANCHEZ
    VERSION 1.0
*/     
/*ESTILOS POR IMPORTAR...*/
@import url('https://fonts.googleapis.com/css2? family = Langosta & display = swap');  
@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");
@font-face {
    font-family: prueba;
    src: url(/src/style/Lobster-Regular.ttf);
}
/*ESTILOS ETIQUETA*/
a{
    color: rgb(253, 252, 252);
    text-decoration: none;
}
body{
    background-image: url(../img/fondo_edificio.jpg);
}
/*ESTILOS POR ID*/        
#enlaces{
    display: flex;
    background-color:#262626
}
#caja1{
    position: relative;
    float: left;
}
/* #letra{
    margin-right: 30px;
    
} */
.letramenu a{
    font-size:xx-largem;
    font-family: prueba;
    color:#A67A44;
}
/*ESTILOS POR CLASE*/
.boton{
    color:#A67A44;
}
        
.formitem{
    margin-bottom: 10px;
}
.contenedor {
    background-color: rgb(2, 150, 59);
    margin: 30px 20px 30px 20px;
}
.menu{
        
    background-color: white;
    border-bottom-color: rgb(43, 128, 3);
    border-bottom-width: 8px;
    border-bottom-style:solid;
}
#tacerca{
    margin-top: 1%;
    text-align: center;
    color: #277233;
}
#dacerca{
    width: 80%;
    margin-left: 10%;
    margin-bottom: 0px;
}
#dosdiv{
    margin-left: 10%;
    margin-top: 1%;
}
#car{
    margin-left: 2px;
    width: 50%;
}
#marc{
    margin: 4% ;
    margin-left: 1%;
    width: 550px;
    height: 230px;
   
}
#pacerca{
    text-align: justify;
    margin-bottom: 2%;
    padding: 5%;
  
}
#control{
    margin: 2% 20%;
}
.container span {
    font-size: 15pt;
    font-weight: bold;
    position: relative;
    font-family: "Fredoka One";
    cursor: pointer;
    transition: all 300ms ease-in-out;
  }
  .container span::before {
    content: var(--l);
    position: absolute;
    transform: scale(1.1);
    filter: blur(15px);
  }
  .container span::after {
    content: var(--l);
    position: absolute;
    height: 200%;
    width: 300px;
    top: 80%;
    left: 0;
    filter: blur(30px);
    transform: rotateX(50deg);
  }
  .container span:hover {
    filter: contrast(250%);
  }
  #colorCarrito{
    color: rgb(253, 252, 252);
    width: 30%;
}

#tamIcon{
    width: 50px;
    height: 50px;
}

#footer{
    margin-top: 10%;
    display: flex;
    background-color:#262626
}

.form-box {
    width: 500px;
    padding: 40px;
    background: #191919;
    text-align: center;
}

.form-title {
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
}

.form-box input[type="text"], .form-box input[type="password"], .form-box button[type="submit"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #24682f;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
}

.form-box input[type="text"]:focus, .form-box input[type="password"]:focus {
    width: 280px;
    border-color: #298f3f;
}

.form-box button[type="submit"] {
    border: 0;
    background: #339c4e;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #339c4e;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}

.form-box button[type="submit"]:hover {
    background: none;
}  

#login {
    margin: 0;
    padding: 05%;
    font-family: sans-serif; 
    /* background: #2f792d; */
    display: flex;
    /* flex-direction: row;
    flex-wrap: wrap; */
    justify-content: center;
    align-items: center;
    /* No Scrollbar */
    overflow: hidden;
}

.flex{
    display: flex;
}